{% extends "aa_layout.html" %}
{% block title %}
    StreetCare Web App
{% endblock %}
{% block main %}
<!-- Page Content-->
        <div class="container-fluid p-0" style="height:60vh;">
            <span class="dot"></span>
            <div class="section_offset">
                <div class="resume-section-content">
                    <h2 class="mb-5" style="margin-top:-100px;">Street<span class="text-primary">Care</span></h2>
                </div>
            </div>
            <div class="section_offset">
                <h3 class="mb-0">Community</h3>
            </div>
            <div style="display: table;height:100%;overflow: hidden;width:100%;">
                <div class="section_offset" style="display: table-cell; vertical-align: middle;text-align:center;width:100%;">
                    <p style="width:100%;">The content is coming soon</p>
                </div>
            </div>
        </div>


{% endblock %}
