{% extends "aa_layout.html" %}
{% block title %}
    StreetCare Web App
{% endblock %}
{% block main %}
<!-- Page Content-->
        <div class="container-fluid p-0">
            <span class="dot"></span>
            <div class="section_offset">
                <div class="resume-section-content">
                    <h2 class="mb-5" style="margin-top:-100px;">Street<span class="text-primary">Care</span> Toolkit</h2>
                </div>
            </div>
            <div class="section_offset">
                <h3 class="mb-0">Start Now</h3>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="Row" style="padding-top:40px;">
                        <div class="Column toolkit_link_d"><a class="toolkit_style toolkit_link" href="/toolkit/start_now/before_you_go" style="text-decoration:none;">Before you Go</a></div>
                        <div class="Column" style="border-bottom:2px solid #feed00;font-weight: bold;color:#000;"><a class="toolkit_style toolkit_link tk_se" href="/toolkit/start_now/on_the_street" style="text-decoration:none;">On the Street</a></div>
                        <div class="Column toolkit_link_d"><a class="toolkit_style toolkit_link" href="/toolkit/start_now/after_your_visit" style="text-decoration:none;">After your Visit</a></div>
                    </div>
                </div>
                <p class="j">To prepare to go out, please check out these quick videos on getting yourself psyched up, full of useful info --and cool, calm and collected.</p>
            </div>
            <div class="scrolling-wrapper-flexbox">
                  <div class="card" style="border:none;width:30px;"></div>
                  <div class="card" style="padding:1rem;">
                      <iframe width="100%" height="300px;" src="https://www.youtube.com/embed/Dsei3r4gfUc"></iframe><br>
                      <p style="font-weight:bold;color:black;">Overview of Preparation</p>
                      <p>Learn how to make preparations to perform outreach, including items to put in your "Care Bags".</p>
                      <div style="padding-bottom:100px;"></div>
                      <a class="nav-link js-scroll-trigger ext_l f_l ext_l-hov" href="/external_link" style="left:1rem;right:1rem;bottom:1rem;position:absolute;width:auto;">Read More</a>
                  </div>
                  <div class="card" style="padding:1rem;">
                      <iframe width="100%" height="300px;" src="https://www.youtube.com/embed/7D9i2GXC4LU"></iframe><br>
                      <p style="font-weight:bold;color:black;">Dressing for Street Outreach</p>
                      <p>Dressing comfortably and intentionally makes all the difference.</p>
                      <a class="nav-link js-scroll-trigger ext_l f_l ext_l-hov" href="/external_link" style="left:1rem;right:1rem;bottom:1rem;position:absolute;width:auto;">Read More</a>
                  </div>
                  <div class="card" style="padding:1rem;">
                      <iframe width="100%" height="300px;" src="https://www.youtube.com/embed/-WseM7kiLNE"></iframe><br>
                      <p style="font-weight:bold;color:black;">Just do it --Even a small effort goes a long way</p>
                      <p>Even a small effort goes a long way. Take time to think about your motivation behind helping others.</p>
                      <a class="nav-link js-scroll-trigger ext_l f_l ext_l-hov" href="/external_link" style="left:1rem;right:1rem;bottom:1rem;position:absolute;width:auto;">Read More</a>
                  </div>
                  <div class="card" style="padding:1rem;">
                      <iframe width="100%" height="300px;" src="https://www.youtube.com/embed/qtzyP52f630"></iframe><br>
                      <p style="font-weight:bold;color:black;">Going in Groups- Practice Makes Perfect</p>
                      <p>Practice Makes Perfect. Go in groups, cover more ground, and learn along the way.</p>
                      <a class="nav-link js-scroll-trigger ext_l f_l ext_l-hov" href="/external_link" style="left:1rem;right:1rem;bottom:1rem;position:absolute;width:auto;">Read More</a>
                  </div>
                  <div class="card" style="padding:1rem;">
                      <iframe width="100%" height="300px;" src="https://www.youtube.com/embed/7R2W32AnQuA"></iframe><br>
                      <p style="font-weight:bold;color:black;">Approaching a Homeless Person</p>
                      <p>How to break the ice and where to go from there.</p>
                      <a class="nav-link js-scroll-trigger ext_l f_l ext_l-hov" href="/external_link" style="left:1rem;right:1rem;bottom:1rem;position:absolute;width:auto;">Read More</a>
                  </div>
                  <div class="card" style="border:none;width:30px;"></div>
            </div><br><br>
        </div>


{% endblock %}
