{% extends "aa_layout.html" %}
{% block title %}
    StreetCare Web App
{% endblock %}
{% block main %}
<!-- Page Content-->
        <div class="container-fluid p-0">
            <span class="dot"></span>
            <section class="resume-section">
                <div class="resume-section-content">
                    <h2 class="mb-5">Street<span class="text-primary">Care</span></h2>
                    <div class="scrolling-wrapper-flexbox">
                  <div class="card-b" style="border:none;width:30px;"></div>
                  <div class="card-b" style="padding:1rem;">
                      <img src="./files/1.png" style="width:50vw;margin-bottom:-6px;">
                  </div>
                  <div class="card-b" style="padding:1rem;">
                      <img src="./files/2.png" style="width:50vw;margin-bottom:-6px;">
                  </div>
                  <div class="card-b" style="padding:1rem;">
                      <img src="./files/3.png" style="width:50vw;margin-bottom:-6px;">
                  </div>
                  <div class="card" style="border:none;width:30px;"></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <div class="section_offset"><br><br>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">How to Help</h3><br><br>
                        <div class="hov_div">
                            <a class="toolkit_style" href="/toolkit/start_now/before_you_go"><img src="./files/sn.png" class="toolkit_icon"><span class="toolkit_span">Start Now</span><span class="toolkit_spanr">&#10095;</span></a>
                        </div><br>
                        <div class="hov_div">
                            <a class="toolkit_style" href="/toolkit/what_to_bring"><img src="./files/wtb.png" class="toolkit_icon"><span class="toolkit_span">What to Bring</span><span class="toolkit_spanr">&#10095;</span></a>
                        </div><br>
                        <div class="hov_div">
                            <a class="toolkit_style" href="/toolkit/how-to_videos"><img src="./files/htv.png" class="toolkit_icon"><span class="toolkit_span">How-to Videos</span><span class="toolkit_spanr">&#10095;</span></a>
                        </div><br>
                    </div>
                </div>
            </div>
            <hr class="m-0" />
            <div class="section_offset"><br><br>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Welcome</h3><br>
                        <div class="placeholder" style="width:100%;">
                            <span class="cnt_span">
                                <img class="img-h" src="./files/streetcare.png" style="width:124px;height:124px;" />
                            </span>
                        </div>
                        <p style="text-align:justify;">The Street Care mobile app is brought to you by homelessness care experts, with the goal of sharing tools that will  enable you to provide transformative help to homeless families and individuals. The aim of this app is to provide information to help individual volunteers (you!) address how to help homeless people with appropriate resources, tools, and support. We offer you safe and proven lessons along with innovative ways for you to assist homeless people --and to create much-needed community. You can also join us on social media.</p>
                        <br><iframe width="100%" height="100%" src="https://www.youtube.com/embed/Dsei3r4gfUc">
                        </iframe>
                    </div>
                </div>
            </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <hr class="m-0" />
            <div class="section_offset"><br><br>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Start Using The App</h3><br><br>
                        <p class="j">There are three main functions provided in this initial release.</p>
                        <ol class="section_offset_l">
                            <li><p class="j">“How to Start” (Start here!): steps to prepare you for street outreach well before you go and have direct contact with homeless people;</p></li>
                            <li><p class="j">“What to Bring”: detailed instructions on items to bring for your outreach. This will help you decide what to give in order to have the most impact;</p></li>
                            <li><p class="j">“Online resources”: 30 to 60 second videos that give examples of encounters you may have while performing outreach. We go through each situation in depth to show you what to do in each case.</p></li>
                        </ol>
                    </div>
                </div>
            </div>
            <hr class="m-0" />
            <div class="section_offset">
                <br><br>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <a class="nav-link js-scroll-trigger ext_l f_l ext_l-hov" href="/external_link">Join Us</a>
                        <a class="nav-link js-scroll-trigger ext_l f_r ext_l-hov" href="/external_link">Donate</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
