{% extends "aa_layout.html" %}
{% block title %}
    StreetCare Web App
{% endblock %}
{% block main %}
<!-- Page Content-->
        <div class="container-fluid p-0">
            <span class="dot"></span>
            <div class="section_offset">
                <div class="resume-section-content">
                    <h2 class="mb-5" style="margin-top:-100px;">Street<span class="text-primary">Care</span> Toolkit</h2>
                </div>
            </div>
            <div class="section_offset">
                <h3 class="mb-0">What to Bring</h3>
                <a><div class="wtb-div div-a" id="hp"><img src="/files/hp.png" class="wtb-im"><p class="wtb-it">Hygiene Products</p></div></a>
                <a><div class="wtb-div div-a" id="fp"><img src="/files/fhp.png" class="wtb-im"><p class="wtb-it">Feminine Products</p></div></a>
                <a><div class="wtb-div div-a" id="w"><img src="/files/w.png" class="wtb-im"><p class="wtb-it">Water</p></div></a>
                <a><div class="wtb-div div-b" id="bfak"><img src="/files/bfak.png" class="wtb-im"><p class="wtb-it">Bandages & First Aid Kits</p></div></a>
                <a><div class="wtb-div div-b" id="hs"><img src="/files/hs.png" class="wtb-im"><p class="wtb-it">Healthy Snacks</p></div></a>
                <a><div class="wtb-div div-b" id="c"><img src="/files/c.png" class="wtb-im"><p class="wtb-it">Clothes</p></div></a>
            </div>
            <div class="wrapper" id="hp_more">
                <div class="element" style="z-index:2;">
                    <div style="width:100%;height:150px;">
                        <ul class='pie'>
                            <li class='slice' id="hp_close"><div class='slice-contents' style="z-index:1;"></div><div style="z-index:2;position: absolute;padding-top:20px;"><span style="padding-left:50px;color:black;font-size:30px;text-align: center;width:100%;">&#10007;</span></div></li>
                        <ul>
                    </div>
                    <div style="padding-top:0%;text-align:center;padding-left:3rem;padding-right:3rem;">
                        <div style="padding-left:10rem;padding-right:10rem;">
                            <img src="/files/hp.png" style="width:100%;height:100%;"><br><br>
                        </div>
                        <h3>Hygiene Products</h3>
                        <hr class="m-0"><br><br>
                        <p class="j">Soaps should be fragrance-free, since allergies are very common. Make sure any hand sanitizers do not contain alcohol. Toothpaste and toothbrushes also make practical and useful donation items.</p>
                    </div>

                </div>
                <div style="width:100%;height:100%;position:fixed;background-color:black;opacity:30%;"></div>
            </div>

            <div class="wrapper" id="fp_more">
                <div class="element" style="z-index:2;">
                    <div style="width:100%;height:150px;">
                        <ul class='pie'>
                            <li class='slice' id="fp_close"><div class='slice-contents' style="z-index:1;"></div><div style="z-index:2;position: absolute;padding-top:20px;"><span style="padding-left:50px;color:black;font-size:30px;text-align: center;width:100%;">&#10007;</span></div></li>
                        <ul>
                    </div>
                    <div style="padding-top:0%;text-align:center;padding-left:3rem;padding-right:3rem;">
                        <div style="padding-left:10rem;padding-right:10rem;">
                            <img src="/files/fhp.png" style="width:100%;height:100%;"><br><br>
                        </div>
                        <h3>Feminine Products</h3>
                        <hr class="m-0"><br><br>
                        <p class="j">Tampons and pads are necessities, and yet something that many homeless individuals experiencing homelessness struggle to obtain every month. Consider different needs such as heavy, moderate, and light flow.</p>
                    </div>

                </div>
                <div style="width:100%;height:100%;position:fixed;background-color:black;opacity:30%;"></div>
            </div>

            <div class="wrapper" id="w_more">
                <div class="element" style="z-index:2;">
                    <div style="width:100%;height:150px;">
                        <ul class='pie'>
                            <li class='slice' id="w_close"><div class='slice-contents' style="z-index:1;"></div><div style="z-index:2;position: absolute;padding-top:20px;"><span style="padding-left:50px;color:black;font-size:30px;text-align: center;width:100%;">&#10007;</span></div></li>
                        <ul>
                    </div>
                    <div style="padding-top:0%;text-align:center;padding-left:3rem;padding-right:3rem;">
                        <div style="padding-left:10rem;padding-right:10rem;">
                            <img src="/files/w.png" style="width:100%;height:100%;"><br><br>
                        </div>
                        <h3>Water</h3>
                        <hr class="m-0"><br><br>
                        <p class="j">Finding potable water can be difficult for homeless individuals. Bottled water is widely sold, affordable, and portable, making it a great donation item.</p>
                    </div>

                </div>
                <div style="width:100%;height:100%;position:fixed;background-color:black;opacity:30%;"></div>
            </div>

            <div class="wrapper" id="bfak_more">
                <div class="element" style="z-index:2;">
                    <div style="width:100%;height:150px;">
                        <ul class='pie'>
                            <li class='slice' id="bfak_close"><div class='slice-contents' style="z-index:1;"></div><div style="z-index:2;position: absolute;padding-top:20px;"><span style="padding-left:50px;color:black;font-size:30px;text-align: center;width:100%;">&#10007;</span></div></li>
                        <ul>
                    </div>
                    <div style="padding-top:0%;text-align:center;padding-left:3rem;padding-right:3rem;">
                        <div style="padding-left:10rem;padding-right:10rem;">
                            <img src="/files/bfak.png" style="width:100%;height:100%;"><br><br>
                        </div>
                        <h3>Bandages & First Aid Kits</h3>
                        <hr class="m-0"><br><br>
                        <p class="j">Infection prevention and first aid care are essential, especially for homeless people. Give sealed, clean items like bandages, wipes, ointments, and nail care kits to protect those in need. Avoid packing alcohol-based products.</p>
                    </div>

                </div>
                <div style="width:100%;height:100%;position:fixed;background-color:black;opacity:30%;"></div>
            </div>

            <div class="wrapper" id="hs_more">
                <div class="element" style="z-index:2;">
                    <div style="width:100%;height:150px;">
                        <ul class='pie'>
                            <li class='slice' id="hs_close"><div class='slice-contents' style="z-index:1;"></div><div style="z-index:2;position: absolute;padding-top:20px;"><span style="padding-left:50px;color:black;font-size:30px;text-align: center;width:100%;">&#10007;</span></div></li>
                        <ul>
                    </div>
                    <div style="padding-top:0%;text-align:center;padding-left:3rem;padding-right:3rem;">
                        <div style="padding-left:10rem;padding-right:10rem;">
                            <img src="/files/hs.png" style="width:100%;height:100%;"><br><br>
                        </div>
                        <h3>Healthy Snacks</h3>
                        <hr class="m-0"><br><br>
                        <p class="j">Nonperishable and nutritious snacks such as nuts, dried fruit, applesauce, pretzels, and breakfast bars, are best. Foods with high protein are important. Fruit is good. Try to include some items that are easy to chew for individuals without access to dental care. Remember to pack food items separately from any scented sanitary products.</p>
                    </div>

                </div>
                <div style="width:100%;height:100%;position:fixed;background-color:black;opacity:30%;"></div>
            </div>

            <div class="wrapper" id="c_more">
                <div class="element" style="z-index:2;">
                    <div style="width:100%;height:150px;">
                        <ul class='pie'>
                            <li class='slice' id="c_close"><div class='slice-contents' style="z-index:1;"></div><div style="z-index:2;position: absolute;padding-top:20px;"><span style="padding-left:50px;color:black;font-size:30px;text-align: center;width:100%;">&#10007;</span></div></li>
                        <ul>
                    </div>
                    <div style="padding-top:0%;text-align:center;padding-left:3rem;padding-right:3rem;">
                        <div style="padding-left:10rem;padding-right:10rem;">
                            <img src="/files/c.png" style="width:100%;height:100%;"><br><br>
                        </div>
                        <h3>Clothes</h3>
                        <hr class="m-0"><br><br>
                        <p class="j">These garments are daily essentials through all seasons, and yet we often take them for granted. Socks are especially crucial. They are affordable, easy to find, and overall great items to include.</p>
                    </div>

                </div>
                <div style="width:100%;height:100%;position:fixed;background-color:black;opacity:30%;"></div>
            </div>

            <script>
                document.getElementById("hp").addEventListener("click", function() {
                    document.getElementById("hp_more").style.display = "flex";
                });
                document.getElementById("hp_close").addEventListener("click", function() {
                    document.getElementById("hp_more").style.display = "none";
                });

                document.getElementById("fp").addEventListener("click", function() {
                    document.getElementById("fp_more").style.display = "flex";
                });
                document.getElementById("fp_close").addEventListener("click", function() {
                    document.getElementById("fp_more").style.display = "none";
                });

                document.getElementById("w").addEventListener("click", function() {
                    document.getElementById("w_more").style.display = "flex";
                });
                document.getElementById("w_close").addEventListener("click", function() {
                    document.getElementById("w_more").style.display = "none";
                });

                document.getElementById("bfak").addEventListener("click", function() {
                    document.getElementById("bfak_more").style.display = "flex";
                });
                document.getElementById("bfak_close").addEventListener("click", function() {
                    document.getElementById("bfak_more").style.display = "none";
                });

                document.getElementById("hs").addEventListener("click", function() {
                    document.getElementById("hs_more").style.display = "flex";
                });
                document.getElementById("hs_close").addEventListener("click", function() {
                    document.getElementById("hs_more").style.display = "none";
                });

                document.getElementById("c").addEventListener("click", function() {
                    document.getElementById("c_more").style.display = "flex";
                });
                document.getElementById("c_close").addEventListener("click", function() {
                    document.getElementById("c_more").style.display = "none";
                });
            </script>
{% endblock %}
